.margin1{ margin: 1rem; }

.cirklemargin{ margin-left:10vw; }

p, h1, h2, dl, label, caption, legend{ color:hsla(360, 0%, 81%, 1); }

div p{ font-size:1.2em; }

.removephone{ display:none; }

/*-------------------------------------------------------------Grid-------------------------------------------------------------*/

#main{ 
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'main' 'main' 'main';
    grid-area: main; 
    grid-column-gap: 50px; 
}


body{
    
    margin-left: 0px;
    margin-right: 0px; 
    background-color:rgba(28, 28, 28, 1);
} 

#footer{
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'footer' 'footer' 'footer';
    border:1px solid black;
    background-image:linear-gradient(to left, red, orange, yellow);
}

#FooterLatar{
    
    display:grid;
    grid-template-rows: 300px 100px;
    grid-template-areas: 'footer' 'footer';
    
}

.MainDiv{
 
     display:grid;
     grid-template-rows: 300px 1fr 1fr 1fr 1fr 1fr;
     grid-template-areas: 'Section' 'Section' 'Section' 'Section' 'Section' 'Section';
     height: 2400px;
    
}



/* Klass som flyttar texten åt höger */
.right{ text-align:right; }

/*---------------------------------------------------------------Listor----------------------------------------------------------*/

.right{ margin-right: 1vw; }
.right2{text-align:center; vertical-align:top; }
.left{ margin-left: 1vw; }


footer ul{
    
  list-style-type: none; 
  display:block;
    
    
}


footer li{
    
    border-right: 1px solid #bbb;
    height:20px;
    background-color: white;
    display:block;
    
      
}




  footer a{
      
  color: white;
  text-decoration: none;
  height:20px;
    
    
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


nav li{
    
    display: inline;  
    border-right: 1px solid #bbb;
    color:black;
    float:left;
      
}




nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.localMeny{
    
    list-style-type:none;
    display:block;
    border:none;
    overflow:hidden;
}

.localMenyWidth{
    
 width:60%;   
 margin:0px;
 padding:0px;
    
}

.liInst{
    text-align:center;
}

dt, dd, dl{
 text-align:center;
    margin:5px;
}

/*-----------------------------------------------------------Bilder-------------------------------------------------------------*/


#img1{ 
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 20px;
        transition:none;
}

#img4{ 
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 20px;
        transition:none;
}

#img2{ 

width:50%;
height:50%;
display:block;
      border-radius: 20px;
    transition:none;

}

#img3{
    
        width: 300px;
        height: 600px;
        display: block;
      border-radius: 20px;
    transition:none;
  
}
    

#bild1{ 
    
    height:300px;
    width:500px;
    border-radius: 20px;
    
}

.bildGenrer{
    
    height:20vh;
    width:15vw;
    border-radius: 20px;
    transform: skewY(5deg);
     transition: width 2s, height 2s;
}

.bildInst{
     height:20vh;
    width:15vw;
    border-radius: 20px;
    transform: skewY(5deg);
     transition: width 2s, height 2s;
}

section>img:hover{
 
    width:30vw;
    height:40vh;
    
}

/*---------------------------------------------------------Videor---------------------------------------------------------------*/

iframe{
    width:60ex;
    height:35ex;
}

/*----------------------------------------------------------Tabeller------------------------------------------------------------*/

table, tr, th, td{
 
    border:1px solid black;
    border-collapse: collapse;
    padding:5px;
    
}

tr, th, td{
    
    width:90px;
    height:30px;
    font-size:95%;
    
}

table{
    
    margin-left:auto; 
    margin-right:auto; 
}

td:nth-child(odd){

    background-color:#FFFF00;
    
}

td:nth-child(even){
    
    background-color:cyan;

}

tr > th{
 
    background-color:purple;
    
}

p:first-letter
{
 font-size:1.4em;   
}

 p>a::after{ 
    
   content:" <--Läs mer här";
}

/*-----------------------------------------------------------Länkar--------------------------------------------------------------*/

a:link{
 
    color:white;
}

a:visited{
 
    color:white;
    text-decoration:none;
}

a:focus{
 
     font-size:0.8em; 
}

a:hover{
 
    font-size:0.8em;
     background-color: #111;
}

a:active{
 
    color:white;
    text-decoration:none;
}

/*----------------------------------------------media queries--------------------------------------------------------------------*/

@media screen and (max-width:600px) {
    
    .marginphone{margin-bottom:100px;}
    
    .removephone{display:unset;}
   
    body{ height:100vh;}
    
    .bildGenrer{
        
        height:15vh;
        width:30vw;
        transition:none;
    }
    
      .bildInst{
        
        height:15vh;
        width:30vw;
        transition:none;
    }

    section>img:hover{ 
        
        height:15vh;
        width:30vw;
    
    }

    
   #main{ 
       
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'main';
       
 }
    
    footer, #footerlatar,#footer{
        position:fixed;
        bottom:0%; 
        width:100vw;
        height:10vh;}
    
    .remove{ display:none; }
    
    div p{
        
        font-size:0.8em;
        width: 80vw;
    }
    
    h1{ font-size: 1em; }
    
    nav li a { padding: 5px; }
    
    .right{ margin-right: 16vw; }
    
    #img4{
    
        height:400px;
    }
    
  footer ul li{ 
      
      font-size: 0.5em;
      margin-right: 30px;
      
    }
    
    footer ul{ margin-top:20px; }
 
    iframe~p{font-size:0.5em;}
    
   .localText{ font-size: 1.5em;}
}
